<!DOCTYPE html>
<html>
  <head>
    <title>Patential</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <header>
      <ul class="sidenav sidenav-fixed">
        <%= sidenav_link(root_path, 'Dahsboard') %>
        <%= sidenav_link(patents_path, 'Patents') %>
      </ul>
    </header>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="right-align">
          <h6 class="white-text">Do you have any feedback? We would love to hear from you.</h5>
          <ul>
            <li><a class="white-text" href="mailto:vadzim.piatkevich@gmail.com">Contact us by Email</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
